:root {
    --primary-text-color: #212121;
    --paragraph-text-color: #757575;
    --accent-text-color: #FFFF;
    --accent-color: #2196F3;
    --primery-bg-color: #FFFFFF;
    --grey-bg-color: #F5F4FA;
    --black-bg-color: #2F303A;
    --logo-color: #000000;
    
}

body {
    color: var(--paragraph-text-color)
    background-color: var(--primery-bg-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
    /*logo*/
.accent {
    color: var(--accent-color);
}
.logo {
    
    color: var(--logo-color);
    font-size: 26px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}


    /*Site nav*/

.site-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link:current {
color: var(--accent-color);
}

.list {
    list-style: none;
}

.hero {
    background-color: var(--black-bg-color);
    }
.hero-title { 
    
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    /* or 136% */
    text-align: center;
    color: var(--accent-text-color);
}
.hero-btn {
background-color: var(--accent-color);
color: var(--accent-text-color);
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88px;
/* identical to box height, or 188% */
text-align: center;



}
button {
    font-family: inherit;
}
.button {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
color: var(--primary-text-color);
text-decoration: none;
}


.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
    
}


.feature-list .title {

color: var(--primary-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;

}

.section-team {
background-color: var(--grey-bg-color);
}

.member-list .title {
color: var(--primary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19;

}
.member-list .text {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
}
/*Футер*/
.footer{
    background-color: var(--black-bg-color);
    color: var(--accent-text-color);
}
.accentlogo {
color: rgba(255, 255, 255, 0.6);
}


/*Цвет основного текста #212121*/
/*Вторичный цвет текста#757575*/
/*Белый #FFFFFF*/
/*Акцент #2196F3*/
/*Вторичный цвет фона #2F303A */

